/*šūnu izkārtojuma CSS aizgūts no https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/*/
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit,calc
    (var(--s) + 2*var(--mh)));
    justify-content:center;
    --s: 3rem; /* size */
    --r: 1.15; /* ratio */
    /* clip-path */
    --h: 0.5;  
    --v: 0.25; 
    --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
    --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
    
    /*margin */
    --mv: 3px; /* vertical */
    --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
    /* for the float*/
    --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
  }
  
  .container {
    grid-column: 1/-1;
    max-width:790px;
    margin:0 auto;
    font-size: 0; /*disable white space between inline block element */
    position:relative;
    padding-bottom:50px;
    filter:drop-shadow(2px 2px 1px #333)
  }
  
  .container .suna {
    width: var(--s);
    margin: var(--mv) var(--mh);
    height: calc(var(--s)*var(--r)); 
    display: inline-block;
    font-size: 3px;;
    clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
    margin-bottom: calc(var(--mv) - var(--vc)); 
  }
   .burta_lauks{
      position: absolute;
     
  }
  .burts{
    margin: auto;
    border: 3px solid rgba(0, 128, 0, 0);
    padding: 10px;
    color: #000;
    font-size: 20px;
  
  }
 
  .container::before{
    content: "";
    width: calc(var(--s)/2 + var(--mh));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     transparent 0 calc(var(--f) - 2px),      
                     #fff        0 var(--f));
  }
  
  
  .container .suna::before {
    padding-top:80px;
    content:"";
    position:absolute;
    background:linear-gradient(45deg,#c6da6f,#25b09b);
    inset:0;
  }
   
  @keyframes show{
    60% {
       opacity:1;
    }
  }
  
  body  {
    background:#ccc;
  }
  
