body{ 
    background-color:#595353;
}

.hexagon1{
    width: 100px;
    height: 57.735px;
    background: #FFDA56;
    position: relative;
    }
.hexagon1::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #FFDA56;
    }
.hexagon1::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #FFDA56;
    }
.hexagon2{
    width: 100px;
    height: 57.735px;
    background: #FFCBA4;
    position: relative;
    }
.hexagon2::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #FFCBA4;
    }
.hexagon2::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #FFCBA4;
    }
.hexagon3{
    width: 100px;
    height: 57.735px;
    background: #EEAACC;
    position: relative;
    }
.hexagon3::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #EEAACC;
    }
.hexagon3::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #EEAACC;
    }
