* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgb(107, 217, 245) , rgb(246, 246, 248) , rgb(179, 246, 124) ) no-repeat;
    }
  :root {
    font-size: 14px;
      }
  
  /* Header/Blog Title */
  .header {
    padding: 10px;
    text-align: center;
    background: white;
  }
  
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 3rem;
  }
  .h_outline{
    color: black;
    -webkit-text-fill-color: rgb(228, 225, 225); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(32, 29, 29);
  }
  
  .nav-link {
    font-size: 1.5rem;
    text-transform:uppercase;
  }


  .img_bite_sm{
   height: 3rem;
   vertical-align: sub;

  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    padding-top: 20px;
  }
  .tekstaIevade{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    text-transform:uppercase;
  }
  button{

    margin: 1rem auto 1rem auto ;
    height: 2rem;
    font-size: 1rem;
    width: 12rem;
    border-radius: 1rem;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
  }
  
  .tablo{
    width: 90%;
    text-align: center;
    
  }
  /* Fake image 
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    
    height: 27rem;
  }
 .leftcolumn .card{
    height: 440px;
 }
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  .tekstaLaukiKartites{
    padding: 1.5rem;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
