/*šūnu izkārtojuma CSS aizgūts no https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/*/
.sunuLauks{
      
    margin:auto;
       display: grid;
       width: 32rem;
       grid-template-columns: repeat(auto-fit,calc(var(--s) + 2*var(--mh)));
       justify-content:center;
       --s: 5rem; /* size */
       --r: 1.15; /* ratio */
       /* clip-path */
       --h: 0.5;  
       --v: 0.25; 
       --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
       --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
       
       /*margin */
       --mv: 2px; /* vertical */
       --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
       /* for the float*/
       --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
     }
     
     .S_container {
       grid-column: 1/-1;
       margin:0 auto;
       font-size: 0; /*disable white space between inline block element */
       position:relative;
       padding-bottom:50px;
       padding-top: 50px;
       filter:drop-shadow(2px 2px 1px #333);
       
     }
     
     .S_container .suna {
       width: var(--s);
       margin: var(--mv) var(--mh);
       height: calc(var(--s)*var(--r)); 
       display: inline-block;
       font-size:initial;
       clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
       margin-bottom: calc(var(--mv) - var(--vc)); 
       
     }
        
     .S_container::before{
       
       content: "";
       width: calc(var(--s)/2 + var(--mh));
       float: left;
       height: 120%;
       shape-outside: repeating-linear-gradient(     
                        transparent 0 calc(var(--f) - 2px),      
                        #fff        0 var(--f));
     }
     
     
     .S_container .suna::before {
       padding-top:6.5rem;
       content:"Burtu \A spēle";
       text-transform:uppercase;
       white-space:pre;
       font-size:5rem;
       font-family:sans-serif;
       font-weight:bold;
       text-align:center;
       position:absolute;
       color:#382800;
       background:linear-gradient(45deg,#EBA937 ,#C58F00);
       inset:0;
     }
     
     .S_container .suna{
       animation: show 20s;
       animation-iteration-count: 1;
      }
    
     
     @keyframes show{
       0% {
               opacity: 0;
           }
       1% {
               opacity: 0;
         }
       100% {
               opacity: 1;
           }
           }
           


/*parādošie burtiņi */
.spelesLauks {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,calc
  (var(--s) + 2*var(--mh)));
  justify-content:center;
  --s: 6rem; /* size */
  --r: 1.15; /* ratio */
  /* clip-path */
  --h: 0.5;  
  --v: 0.25; 
  --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
  --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
  
  /*margin */
  --mv: 4px; /* vertical */
  --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
  /* for the float*/
  --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
}
.container2 {
  grid-column: 1/-1;
  margin:0 auto;
  font-size: 0; /*disable white space between inline block element */
  position:relative;
  padding-bottom:50px;
  padding-top: 50px;
  filter:drop-shadow(2px 2px 1px #333);
  
}

.container2 .suna {
  width: var(--s);
  margin: var(--mv) var(--mh);
  height: calc(var(--s)*var(--r)); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
  margin-bottom: calc(var(--mv) - var(--vc)); 
  
}
 .container2 .suna .p{
   margin:auto;
 }  
.container2::before{
  
  content: "";
  width: calc(var(--s)/2 + var(--mh));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   transparent 0 calc(var(--f) - 2px),      
                   #fff        0 var(--f));
}


.container2 .suna::before {
  padding-top:6.5rem;
  content:" \A ";
  text-transform:uppercase;
  white-space:pre;
  font-size:5rem;
  font-family:sans-serif;
  font-weight:bold;
  text-align:center;
  position:absolute;
  color:#382800;
  background:linear-gradient(45deg,#EBA937 ,#C58F00);
  inset:0;
}

.container2 .suna{
  animation: show1 5s;
  animation-iteration-count: 1;
 }
.burtaLauks{
 
    position: relative; 
    margin: auto; 
    height:100%;
    padding: 2rem;
    font-size: 3rem;
    text-transform:uppercase;
}

