<html>
<head>
<title>Countdown</title>
<script>
    function startTimer(duration, view_date) {
        var countdown = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(countdown / 60, 10);
            seconds = parseInt(countdown % 60, 10);
    
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
    
            view_date.textContent = minutes + ":" + seconds;
    
            if (--countdown < 0) {
                countdown = duration;
            }
        }, 1000);
    }
    
    window.onload = function () {
        var minutesOfFive = 60 * 30,
            view_date = document.querySelector('#time');
        startTimer(minutesOfFive, view_date);
    };
    </script>
</head>

    <body>
        <div>Registration closes in <span id="time">05:00</span> minutes!</div>
    </body>

</html>