<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/suna.css">
  <script src="js/timer.js"></script>
  <script src="js/jaunsVards.js"></script>
  <script src="js/vardaParbaude.js"></script>
  <script src = "js/burtuJauksana.js"></script>
</head>
<body>

  <div class="header">
    <h1>Burtu spēle</h1>
    <p>Lieliska spēle, lieliskiem panākumiem</p>
  </div>

  <div class="topnav">
      <a href="templates/index.html"><img class="img_bite_sm" src="../static/img/bite1.gif">sākums</a>
      <a href="#" id="mylink2" onclick="saktSkaitit()"><img class="img_bite_sm" src="../static/img/bite1.gif">sākt spēli</a>
      <a href="top.html"><img class="img_bite_sm" src="../static/img/bite2.gif">rezultātu tops</a>
      <a href="help.html"><img class="img_bite_sm" src="../static/img/bite3.gif">pamācība</a>
      <a href="login.html"><img class="img_bite_sm" src="../static/img/bite4.gif">reģistrēties</a>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card"><a href="#" id="mylink1" onclick="saktSkaitit();">
          <div class="sunuLauks">
              <div class="container">
              </div>
          </div></a>
          <div class="spelesLauks">
            <div class="container2">
              <!-- šūnas ielasa scripts -->
            </div>  
          </div> 
      </div>

      
    </div>
    <div class="rightcolumn">
      <div class="card">
        <table class="tablo">
          <tr> 
            <td><h2>Laiks</h2></td>
            <td><h2>Punkti</h2></td>
          </tr>
          <tr>
            <td> <span id="time">02:00</span> </td>
            <td>
              <span id="punkti"></span>
            </td>
          </tr>
        </table>



        
      </div>
      <div class="card">
        <h2>Tavi sasniegumi</h2>
        <div class="score"></div>

      </div>
      <div class="card">
        <h3>Rezutatīvākie spēlētāji</h3>
        <div><p>Uzvarētājs 1</p></div>
        <div><p>Uzvarētājs 2</p></div>
        <div><p>Uzvarētājs 3</p></div>
      </div>
      
    </div>
  </div>

  <div class="footer">
    <h2>Nāc rīt atkal spēlēt un uzvarēt... <div class=""></div></h2>
  </div>



<script>

  //sagatavo mainīgos un konstantes
const spelesLauks = document.querySelector('.spelesLauks');
const sunuLauks = document.querySelector('.sunuLauks');
const suna = document.querySelector('.suna');
const btn = document.createElement('button');
const ievadamieBurti = document.createElement('input');
const rezultatuTablo = document.querySelector('.score');
const burtuLauks = document.querySelector('.container2');
const dzesamaisLauks = document.createElement('div') 
var atveramieBurti=0;
ievadamieBurti.setAttribute('type','text');
ievadamieBurti.classList.add('tekstaIevade');
btn.textContent = "SĀKT SPĒLI!";
const spelesVardi = ["kaķis"];
const spele ={izveletaisVards:'', sajauktsVards:'',rezultats:0, nepareizi:0, atlikusieVardi:0, izspeles:spelesVardi.length};

spelesLauks.append(ievadamieBurti);
spelesLauks.append(btn);

rezultatuTablo.style.display="none";
ievadamieBurti.style.display = 'none';
btn.style.display = 'none';  


//ielādē bišu šūnas pašā lapas ielādē.
window.onload = spelesLaukums();

function spelesLaukums(){
for (var s = 0; s < 22; s++) {
  const lauks = document.createElement('div');
  const container = document.querySelector('.container');
  container.append(lauks);
  lauks.classList.add('suna');
  }
};
// ielasa vārdus no google sheets - https://docs.google.com/spreadsheets/d/1ilaxRabk_2VQPtNBkh9qzPYhp5lDCV4mq7YQEmUz-io/edit?usp=sharing 
const url ='https://docs.google.com/spreadsheets/d/';
const ssid = '1ilaxRabk_2VQPtNBkh9qzPYhp5lDCV4mq7YQEmUz-io';
const query1 =`/gviz/tq?`;
const endpoint1 = `${url}${ssid}${query1}`;

fetch(endpoint1)
.then(res=>res.text())
.then(data => {
    const temp = data.substring(47).slice(0,-2);
    const json = JSON.parse(temp);
    const rows = json.table.rows;
    rows.forEach((row) => {
    const temp1 = (row.c);
    const div = document.createElement('div');
      temp1.forEach((cell)=>{
          spelesVardi.push(cell.v);
      })    
    });
}) //beidzas vārdu ielasīšana masīvā no google


// spēles sākums un sākas laika skaitīšana, kad ielādējas spēle
function saktSkaitit() {
   
  

    var minutesOfFive = 60 * 2,
        view_date = document.querySelector('#time');
    startTimer(minutesOfFive, view_date);
    sunuAizversana();
};

//nākamā vārda ielāde un citu šūnu aizvēršana
btn.addEventListener('click',(e)=>{
  sunuAizversana(); 
  });

//spēlētāju ievadīto burtu nolasīšana un sūtīšana uz pārbaudi
ievadamieBurti.addEventListener('keyup', (e)=>{
  ievadamieBurti.style.borderColor = '#eee';
  ievadamieBurti.style.borderWidth = '1px';
  if (ievadamieBurti.value.length == spele.izveletaisVards.length || e.code == 'Enter'){
    vardaParbaude();
  }
})

//attēlo rezultātu pēc vārda pārbaudes
function pievienotRezultatu(){
    let pagaiduIzvade = `Rezultāts: ${spele.rezultats}. Kļūdainie mēģinājumi ${spele.nepareizi}`;
    let punkti =(spele.rezultats*5)-spele.nepareizi;
    console.log(punkti+'punkti');
    rezultatuTablo.innerHTML = pagaiduIzvade;
    document.getElementById('punkti').innerHTML = punkti;
}
// visu pārkopēju no js mapes, jo nestādāja kaut kā pēc pārnākšanas uz piton.. :( )
function burtuJauksana(orginalvards){
    let jauktsVards = orginalvards.split('');
    jauktsVards.sort(()=>{return 0.5 - Math.random()});  
    jauktsVards=jauktsVards.join('');
    if (orginalvards == jauktsVards){
        return burtuJauksana(orginalvards)
    }
    var b = jauktsVards; 
    var izmestieBurti=[]; 
    for (var z = 0; z < b.length; z++) {
        izmestieBurti.push(b.charAt(z)) 
        
        const burts = document.createElement('div');
        const burtaIeraksts = document.createElement('div');
        
        burtuLauks.append(burts);
        burts.append(burtaIeraksts);

        burtaIeraksts.classList.add('burtaLauks');
        burtaIeraksts.setAttribute('id','burtaIeraksts'+z);

        burts.classList.add('suna');
        
        burts.setAttribute('id','burts'+z);
        
        burtaIeraksts.textContent=(b.charAt(z));

        atveramieBurti++;
        
    }
    return jauktsVards; 
}

function sunuAizversana(){
    x=atveramieBurti;  //parbauda, cik ir atvertas sūniņas
    for (var y = 0; y < x; y++) {
      document.getElementById("burts"+y).remove();
      atveramieBurti=0;
    }
    jaunsVards();
  }
  
function jaunsVards(){
    sunuLauks.style.display = "none";
    
    if(spelesVardi.length<=0){
        spelesLauks.innerHTML="<div>Spēles beigas</div>"
        spelesLauks.innerHTML+=`Tu ieguvi ${spele.rezultats}, kļūdījies ${spele.nepareizi}!`;
    }else{
        ievadamieBurti.disabled = false;
        ievadamieBurti.value='';
        ievadamieBurti.style.borderWidth='1px';
        ievadamieBurti.style.borderColor="#eee";
        rezultatuTablo.style.display="block";
        ievadamieBurti.style.display = 'inline';
        btn.style.display = 'none';
        ievadamieBurti.focus();
        spelesVardi.sort(()=>{return 0.5 - Math.random()});
        spele.izveletaisVards= spelesVardi.shift();
        console.log(spelesVardi);
        spele.atlikusieVardi = spelesVardi.length;
        spele.sajauktsVards = burtuJauksana(spele.izveletaisVards);
        ievadamieBurti.setAttribute('maxlength', spele.izveletaisVards.length);
        spele.atlikusieVardi=spelesVardi.length;
    }
}


  
  
function startTimer(duration, view_date) {

var countdown = duration, minutes, seconds;
setInterval(function () {
    minutes = parseInt(countdown / 60, 10);
    seconds = parseInt(countdown % 60, 10);

    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    view_date.textContent = minutes + ":" + seconds;

    if (--countdown < 0) {
        //countdown = duration;
        spelesLauks.innerHTML="<div>Spēles beigas</div>"
    }
}, 1000);
}

function vardaParbaude(){
    ievadamieBurti.style.borderWidth='5px';
    let parbaudamie =ievadamieBurti.value.toLowerCase();
   
    
    if(parbaudamie !== spele.izveletaisVards){
        ievadamieBurti.style.borderColor = 'red';
        ievadamieBurti.value = '';
        ievadamieBurti.focus();
        spele.nepareizi++;

       
    }else{
        ievadamieBurti.disabled = true;
        ievadamieBurti.style.borderColor='green';
        ievadamieBurti.disabled = true;
        btn.style.display='block';
        btn.textContent = 'Nākamais vārds';
        spele.rezultats++;
       // btn.focus();
    }
    pievienotRezultatu();
    
}
  


  </script>
</body>
</html>