{% extends 'layout.html' %}
  {{title}}
 
  
{% block content %}
  
       
    <a href="#" id="mylink1" onclick="saktSpeli();"> 
         <div class="sunuLauks">
            <div class="S_container">
            </div>
        </div></a>
        <div class="spelesLauks">
          <div class="container2">
            <!-- šūnas ielasa scripts -->
        </div>    
      </div>

  
{% endblock content %}

{% block skritps %}
<script>


  const spelesVardi=['zirgs'];//masīvs ar spēlē izmantojamiem vārdiem (tajā ieliek arī no GOOGLE)
  const spele = {izveletaisVards:'', sajauktaisVards: '', atlikusieVardi:'', kluda:0, rezultats:0}; //atminamais vārds!!!

  const spelesLauks = document.querySelector('.spelesLauks');
  const sunuLauks = document.querySelector('.sunuLauks');
  const ievadamieBurti=document.createElement('input');
  ievadamieBurti.setAttribute('type','text');
  ievadamieBurti.classList.add('tekstaIevade');
  spelesLauks.append(ievadamieBurti);
  var burtiUzLaukuma=0;//atveramie burti
  burtuLauks=document.querySelector('.container2');
  const btn = document.createElement('button');
  spelesLauks.append(btn);

  btn.style.display='none';

 
  
 
  // IELASA VĀRDUS no google sheets - https://docs.google.com/spreadsheets/d/1ilaxRabk_2VQPtNBkh9qzPYhp5lDCV4mq7YQEmUz-io/edit?usp=sharing 
  const url ='https://docs.google.com/spreadsheets/d/';
  const ssid = '1ilaxRabk_2VQPtNBkh9qzPYhp5lDCV4mq7YQEmUz-io';
  const query1 =`/gviz/tq?`;
  const endpoint1 = `${url}${ssid}${query1}`;

  fetch(endpoint1)
  .then(res=>res.text())
  .then(data => {
    const temp = data.substring(47).slice(0,-2);
    const json = JSON.parse(temp);
    const rows = json.table.rows;
    rows.forEach((row) => {
    const temp1 = (row.c);
    const div = document.createElement('div');
      temp1.forEach((cell)=>{
          spelesVardi.push(cell.v);
          console.log(spelesVardi);
      })    
    });
  }) //beidzas vārdu ielasīšana masīvā no google
  
window.onload = sagatavotDekorativoSpelesLaukumu() //ielādējas vizuālais spēles laukums....

function sagatavotDekorativoSpelesLaukumu(){
  for (var s=0; s<22; s++){
    let lauks = document.createElement('div');
    let S_container=document.querySelector('.S_container');
    S_container.append(lauks);
    lauks.classList.add('suna');
    ievadamieBurti.style.display='none';
  }
}

function saktSpeli(){
  jaunaVardaParadisanas();
  saktSkaititLaiku();
}

function jaunaVardaParadisanas(){
  sunuLauks.style.display ='none';
  ievadamieBurti.style.display='block';

  if (spelesVardi<1){
    beigtSkaititLaiku();
    //spelesBeigas();
  }else{
    ievadamieBurti.disabled = false;
    ievadamieBurti.focus();
    ievadamieBurti.value='';
    ievadamieBurti.style.borderWidth='1px';
    ievadamieBurti.style.borderColor='#eee';
    ievadamieBurti.style.display='inline';
    
    spelesVardi.sort(()=>{return 0.5 - Math.random()}); //sajauc vārdus masīvā, lai dažāda secība
    spele.izveletaisVards = spelesVardi.shift(); 
    console.log(spelesVardi);
    spele.sajauktaisVards=burtuJauksana(spele.izveletaisVards); //izsauc funkciju, kas sajauks izvēlētajam vārdam burtus
    ievadamieBurti.setAttribute('maxlenght', spele.izveletaisVards.length);
    spele.atlikusieVardi=spelesVardi.length; //cik daudz vārdu palicis vēl neizmantoti
  }
}

function burtuJauksana(vardsNoMasiva){
  console.log('vards= '+vardsNoMasiva+"!");
  let jauktsVards = vardsNoMasiva.split('');//vardu sadala burtos
  jauktsVards.sort(()=>{return 0.5 -Math.random()}); //sajauc burtu kārtību
  jauktsVards=jauktsVards.join('');//savieno burtus vārdā
  if (vardsNoMasiva == jauktsVards){  //ja sajauktais vārds ir kā orģinālais, tad jauc vēlreiz!
    return burtuJauksana(vardsNoMasiva);
  }

  var izmestieBurti=[];
  for ( var z=0; z < jauktsVards.length; z++){
    izmestieBurti.push(jauktsVards.charAt(z));
    console.log("izmestie burti "+izmestieBurti);

    const burts = document.createElement('div');
    const burtaIeraksts = document.createElement('div');

    burtuLauks.append(burts);
    burts.append(burtaIeraksts);

    burtaIeraksts.classList.add('burtaLauks');
    burtaIeraksts.setAttribute('id','burtaIeraksts'+z);

    burts.classList.add('suna');
    burts.setAttribute('id', 'burts'+z);
    burtaIeraksts.textContent=(jauktsVards.charAt(z));
    burtiUzLaukuma++;
  } 
  return jauktsVards;
}

//VĀRDA PĀRBAUDE
  ievadamieBurti.addEventListener('keyup', (e)=>{
    ievadamieBurti.style.borderColor = '#eee';
    ievadamieBurti.style.borderWidth = '1px';
    if (ievadamieBurti.value.length == spele.izveletaisVards.length){
      vardaParbaude();
    }
  })
  function vardaParbaude(){
    let parbaudamie = ievadamieBurti.value.toLowerCase();

    if (parbaudamie !== spele.izveletaisVards){
      ievadamieBurti.focus();
      ievadamieBurti.style.borderColor = 'red';
      ievadamieBurti.value='';
      spele.kluda++;
    }else{
      ievadamieBurti.disabled='true';
      ievadamieBurti.style.borderColor = 'green';
      spele.rezultats++;
      btn.style.display='block';
      btn.textContent = "Nākamais vārds!";
      btn.focus();
    }
    document.getElementById('vardi').innerHTML=spele.rezultats;
    document.getElementById('kludas').innerHTML=spele.kluda;
  }
  btn.addEventListener('click', (e)=>{
    vecoLaukuAizversana();
  })
  function vecoLaukuAizversana(){
    x=burtiUzLaukuma;
    for (var y=0; y<x; y++){
      document.getElementById('burts'+y).remove();
      burtiUzLaukuma=0;
    }
  jaunaVardaParadisanas(); 
  }


  // mainīgie LAIKA SKAITISANAi
  const startingMinutes=0.2;
  let time = startingMinutes*60;
  const laiks = document.getElementById('time');
  let interval = null;

  function saktSkaititLaiku(){
    interval = setInterval(laikaSkaitisana, 1000);
    laikaSkaitisana();
  } 

  function laikaSkaitisana(){
    if (time < 1) {
      beigtSkaititLaiku();
      console.log(time);
    }else{
      time--;
      let minutes = Math.floor(time/60);
      let seconds = time % 60;
      console.log(time);
      laiks.innerHTML = minutes +':'+ seconds<10 ? `0${seconds}` : seconds;
    }
  }
  function beigtSkaititLaiku(){
    clearInterval(interval);
    return spelesBeigas();
  }

  function spelesBeigas(){
    console.log('laiks = ' +time)
    punkti=spele.rezultats*3-spele.kluda+time;
    spelesLauks.innerHTML=
    "<h2>Spēles beigas</h2><br><br>Tev izdevās atminēt :"+spele.rezultats+"! <br><br> Par katru atminēto vārdu tu saņem 5 punktus, par kļūdu tu zaudē vienu punktu un visas atlikušās sekundes pieskaitam pie punktiem. Līdz ar to Tavs rezultāts ir "+punkti;
    let vards=document.getElementById('vards').innerHTML;
    let rez=spele.rezultats;
    let kludas=spele.kluda;
    fetch('sutitUzServeri/'+vards+'/'+punkti+'/'+time+'/'+rez+'/'+kludas);
  }
</script>

{%endblock skritps%}
 